* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween{
justify-content: space-between;
}

.alignCenter{
    align-items: center;
}

.textCenter{
    text-align: center;
}

.top150 {
    margin-top: 150px;

}

.top50 {
    margin-top: 50px;

}

.top20 {
    margin-top: 20px;

}

.top5 {
    margin-top: 5px;

}

.w30{
    width: 30%;
}

.w60{
    width: 60%;
}

.card{
    width: 40%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(116, 113, 113);
    padding: 5px;
}

.btm{
    background-color: rgb(242, 173, 53);
    border-radius: 30px;
    width: 100%;
    padding: 3px;
}



.fontSize{
        font-size: 13px;
}

.marginRight{
    margin-right: 5px;
}

.margin{
    margin-top: 20px;
    margin-left: 20px;
}


.image{
    width: 50%;
    height: 50%;
}

.gap{
    gap: 40px;
}